@import "tailwindcss";

@theme {
  /* Custom Clinical-Tech Palette */
  --color-deep-indigo: #1e1b4b;
  --color-deep-indigo-900: #312e81;
  --color-deep-indigo-800: #3730a3;

  --color-medical-teal: #14b8a6;
  --color-medical-teal-light: #2dd4bf;
  --color-medical-teal-dark: #0f766e;

  --color-soft-white: #f8fafc;

  /* Animations */
  --animate-pulse-slow: pulse-slow 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-float: float 6s ease-in-out infinite;

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }
  }

  @keyframes pulse-slow {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: .5;
    }
  }
}

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #f8fafc;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Utilities Layer */
@utility glass-panel {
  @apply bg-white/10 backdrop-blur-md border border-white/20 shadow-xl;
}

@utility tech-border {
  @apply border border-medical-teal/30;
}